.container {
    position: relative;
    height: 100vh;
}

.main {
    position: relative;
    height: 100%;
    /*flex-shrink: 0;*/
}

.header {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: #fff;
    /*background-color: #a5e8;*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 5;
}
.header span.name {
    text-transform: capitalize;
    margin-right: 1rem;
}
.header span.desc {
    font-size: 0.9rem;
    opacity: 0.6;
}

.messages {
    background-color: #fff;
    /*position: relative;*/
    /*margin-top: 80px;*/
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: calc(100% - 150px); /*120*/
    overflow-y: auto;
    scroll-behavior: smooth;
    z-index: 1;
}
.message {
    padding: 1rem 1rem 0 1rem;
    display: flex;
}
.message:last-child {
    padding-bottom: 1rem;
}
.text {
    background-color: #ccf6ff;
    border-radius: 12px;
    width: 100%;
    padding: 1rem;
    margin: 0;
    /*white-space: pre-wrap;*/
}
.text img {
    width: 80%;
    max-width: 1024px;
    height: auto;
}
.message:nth-child(odd) .text {
    background-color: #efefef;
}

.chat {
    /*background-color: gray;*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
    display: flex;
    align-items: center;
    padding: 10px;
}
.tool {
    /*background-color: aquamarine;*/
    width: 70px;
}
.input {
    /*background-color: palevioletred;*/
    /*margin: 1rem 1rem 3rem 1rem;*/
    width: calc(100% - 90px);
}

.loader {
    padding: 1rem 0;
}